<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8">
	<style>
		h1 {
			margin: 20px;
		}

		ul {
			list-style: none;
		}

		li.linkItem {
			margin: 10px 30px;
		}
	</style>
</head>

<body>
	<h1>LIST</h1>
	<ul>
		<li class="linkItem">
			<a href="container.html" target="_blank">container.html</a>
		</li>
        <li class="linkItem">
			<a href="grid.html" target="_blank">grid.html</a>
		</li>
        <li class="linkItem">
			<a href="gridMix.html" target="_blank">gridMix.html</a>
		</li>
        <li class="linkItem">
			<a href="quiz.html" target="_blank">quiz.html</a>
		</li>
	</ul>
</body>

</html>